project.lock.json
GENERATED_CLASSES
.generator_run
*.xproj.user
*.csproj.user
*.VC.db
.vs
.vscode
*.log
*.nupkg
*.psess
*.vspx
*.vsp
*.zip
scllvm_temp/
bin/
obj/
TestResults/
MinimalAppDatabase/
clang++
starcounter.notify
benchmarks/
build/tools/